:host {
  @apply flex flex-col;
  @apply h-full w-full;
  @apply overflow-hidden;
  @apply bg-brown-100;
}

.wrapper {
  @apply flex h-full overflow-hidden;

  .app-container {
    display: block;

    height: 100%;
    width: 100%;
  }
}
