.action {
  @apply flex justify-center items-center gap-1 py-3 px-4;
  @apply cursor-pointer;
}

.action-primary {
  @apply text-center text-black font-semibold;
  @apply border-2 border-solid border-black;
  @apply bg-purple-500;

  &:hover {
    @apply brightness-105 shadow-regular-sm;
  }
}

.action-secondary {
  @apply text-center text-black font-semibold;
  @apply border-2 border-solid border-black;
  @apply bg-white;

  &:hover {
    @apply brightness-105 shadow-regular-sm;
  }
}

.action-outlined {
  @apply text-center text-black font-semibold;
  @apply border-2 border-solid border-black;

  &:hover {
    @apply brightness-105 shadow-regular-sm;
  }
}

.action-destructive {
  @apply text-center text-black font-semibold;
  @apply border-2 border-solid border-black;
  @apply text-black bg-red-700;

  &:hover {
    @apply brightness-105 shadow-regular-sm;
  }
}

// * Icons

.action-icon-primary,
.action-icon-secondary {
  @apply p-2;
  @apply p-3;

  @apply border-2 border-solid border-black;
  @apply transition-all duration-100;

  &:hover {
    @apply brightness-105 shadow-regular-sm;
  }
}

// * Custom Styles

.action-shadow {
  @apply shadow-regular;
}

.action-loading {
  @apply text-transparent relative;
  cursor: wait;

  &::after {
    content: '';
    transform: translate(-50%, -50%);
    @apply absolute w-5 h-5 top-2/4 left-2/4;
    @apply rounded-full border-2 border-solid border-transparent;
    @apply border-t-black border-b-black;
    animation: spin 0.6s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
