@if (isLoading()) {
  <div class="loading-container">
    <app-loading-spinner />
  </div>
} @else {
  @if (isEditing()) {
    <div class="text-note-edit-container">
      <textarea
        class="text-note-textarea"
        [value]="content()"
        (input)="onTextChange($event)"
        autofocus
        placeholder="Escreva sua nota aqui..."></textarea>

      <div class="action-container">
        <button (click)="cancelEditing()" [disabled]="saveContent.isProcessing()" appAction="secondary" class="flex-1">
          Cancelar
        </button>
        <button
          (click)="saveContent.execute()"
          [isLoading]="saveContent.isProcessing()"
          appAction="primary"
          class="flex-1">
          <app-icon iconID="check-lg"></app-icon>
          Salvar
        </button>
      </div>
    </div>
  } @else {
    @if (noteContent()) {
      <div class="text-note">{{ noteContent() }}</div>

      <button (click)="startEditing()" appAction="icon-secondary" class="open-edit-button">
        <app-icon iconID="pen" />
      </button>
    } @else {
      <button (click)="startEditing()" appAction="primary">
        <app-icon iconID="plus"></app-icon>
        <span>Clique para escrever sua nota</span>
      </button>
    }
  }
}
