:host {
  @apply w-full h-full pt-alley;
  @apply flex flex-col justify-start items-stretch;
}

.text-note-textarea {
  @apply w-full h-full;
  @apply p-4 text-sm;
  @apply bg-transparent;
  @apply border-2 border-solid border-black;
  @apply resize-none;
  @apply focus:outline-none focus:ring-2 focus:ring-black;
  @apply font-normal;
  min-height: 300px;
}

.text-note-textarea::placeholder {
  @apply text-grey-500;
}
