@let data = state();

<app-page-header [title]="getTitle(data)">
  <a [routerLink]="['/']" appAction="icon-primary" appTooltip="Voltar">
    <app-icon iconID="arrow-right" />
  </a>
</app-page-header>

<app-page-container>
  @if (!data || data.state === 'loading') {
    <app-loading-spinner />
  } @else if (data.state === 'error') {
    Something went wrong
  } @else if (data.state === 'loaded') {
    @if (data.note.type === 'checklist') {
      <app-checklist-note [baseNote]="data.note" />
    } @else {
      Não implementado
    }
  }
</app-page-container>

@if (data && data.state === 'loaded') {
  <button
    class="floating-button"
    appAction="icon-primary"
    #trigger
    [appDropdownTrigger]="dropdownList"
    [position]="{
      originX: 'end',
      originY: 'top',
      overlayX: 'end',
      overlayY: 'bottom',
      offsetY: -6,
    }">
    <app-icon iconID="list" />
  </button>

  <ng-template #dropdownList>
    <app-dropdown class="dropdown-items-container" [style.min-width.px]="trigger.offsetWidth">
      <button
        class="dropdown-item"
        appAction="secondary"
        (click)="shareList.execute()"
        [isLoading]="shareList.isProcessing()"
        >Compartilhar</button
      >
      <button
        class="dropdown-item"
        appAction="secondary"
        (click)="deleteNote.execute(data.note.id)"
        [isLoading]="deleteNote.isProcessing()"
        >Apagar</button
      >
    </app-dropdown>
  </ng-template>
}
