:host {
  @apply flex flex-col;
  @apply h-full w-full max-w-[1200px] m-auto;
  @apply p-[5%] overflow-auto;
  justify-content: safe center;
  align-items: safe center;
}

@media (min-width: 900px) {
  :host {
    @apply my-0 w-[85%];
  }
}
