.toast {
  @apply fixed top-[20px] right-[20px];
  @apply font-semibold text-sm;
  @apply inline-block max-w-[80%] px-4 py-2;
  @apply border-2 border-solid border-black;
  @apply bg-white text-black;
}

// * States
.success {
  @apply bg-green-300;
}

.error {
  @apply bg-red-300;
}

.warn {
  @apply bg-yellow-300;
}

.info {
  @apply bg-blue-300;
}

.loading {
  @apply bg-yellow-300;
  @apply inline-block;

  &:after {
    content: ' ';
    @apply block w-4 h-4;
    @apply border-8 border-solid border-black rounded-[50%];
    border-color: black transparent black transparent;
    animation: infinity-rotation 1.2s linear infinite;
  }
  @keyframes infinity-rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
